<h1>Weather Forecast</h1>

<%= form_tag('/forecasts/show', method: 'get') do %>
  <div>
    <%= label_tag :zip_code, 'Zip Code' %>
    <%= text_field_tag :zip_code %>
  </div>

  <div>
    <%= label_tag :country_code, 'Country' %>
    <%= select_tag :country_code, options_for_select(Rails.cache.read('countries_data'), 'IN') %>
  </div>

  <%= submit_tag 'Get Weather Data' %>
<% end %>

<style>
  .flash-notice, .flash-alert {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    display: none; /* Initially hide flash messages */
  }

  .flash-notice {
    color: green;
  }

  .flash-alert {
    color: red;
  }
  <% if flash[:notice].present? || flash[:alert].present? %>
    .flash-notice, .flash-alert {
      display: block; /* Make flash messages visible if present */
    }
  <% end %>
</style>

<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="flash-alert">
    <%= flash[:alert] %>
  </div>
<% end %>
